.jumbotron {
  background: #17629D;
  color:#ffffff;
}
.jumbotron {
  padding: 80px;
  padding-bottom: 40px;
}
.jumpbotron h2 {
  font-family: 'Oswald', sans-serif;
}
.jumbotron a, .jumbotron a:visited {
  color:#ffffff
}
.jumbotron p {
  font-size: 15px;
}
